.card {
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  max-height: 361px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__content {
  box-sizing: border-box;
  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.card__favorite {
  width: 21px;
  height: 18px;
  background-image: url("../images/heart-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

.card__favorite:hover {
  opacity: 0.5;
}
