.footer {
  min-width: 282px;
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

.footer__text {
  font-family: "Inter";
  color: #545454;
  font-size: 1.125em;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer__text {
    margin-left: 19px;
    font-size: 0.875em;
  }
}
