.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__form {
  margin: auto;
}

.modal__close-button {
  cursor: pointer;
  position: absolute;
  transform: rotate(45deg);
  background-image: url(../images/add-symbol.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.4s ease-in-out;
  border: none;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__close-button_type_form {
  top: -48.28px;
  right: -48.28px;
}

.modal__close-button_type_picture {
  top: -49px;
  right: -49.57px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  border-radius: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  padding: 34px 36px 36.5px 36px;
  width: 430px;
}

.modal__form_type_add {
}

.modal__form_type_profile {
}

.modal__form-title {
  max-width: 330px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
}

.modal__form-field {
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875em;
  padding-bottom: 13.3px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  width: 100%;
  margin-top: 30px;
}

.modal__form-field:focus {
  outline: none;
}

.modal__form-field:first-of-type {
  margin-top: 54px;
}

.modal__form-submit {
  margin-top: 48px;
  color: #ffffff;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-size: 1.125em;
  font-family: "Inter", Arial, sans-serif;
  background-color: #000000;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.modal__form-submit:hover {
  opacity: 0.8;
}

.modal__picture {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 75vw;
}

.modal__picture-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__picture-description {
  font-size: 0.75em;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .modal__form {
    width: 282px;
  }

  .modal__close-button_type_form {
    top: -39.23px;
    right: 2.23px;
    height: 26px;
    width: 26px;
  }

  .modal__close-button_type_picture {
    top: -36px;
    right: -36.43px;
    height: 30px;
    width: 30px;
  }

  .modal__form-title {
    font-size: 1.125em;
    max-width: 238px;
  }

  .modal__form-field:first-of-type {
    margin-top: 75px;
  }

  .modal__form-submit {
    margin-top: 45px;
    height: 46px;
    font-size: 0.875em;
  }
}
