.picture {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  max-width: 75vw;
}

.picture__image {
  max-width: 75vw;
  max-height: 75vh;
}

.picture__description {
  font-size: 0.75em;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  margin-top: 10px;
}
